parameters:
	level: 5
	paths:
		- src
	inferPrivatePropertyTypeFromConstructor: true
	ignoreErrors:
	    -   message: '#has invalid type Illuminate\\Http\\Request.#'
	    -   message: '#on an unknown class Illuminate\\Http\\Request.#'
