includes:
	- phpstan-baseline.neon

parameters:
	level: 6
	paths:
		- src
	inferPrivatePropertyTypeFromConstructor: true
	ignoreErrors:
	    -   message: '#has invalid type Illuminate\\Http\\Request.#'
	    -   message: '#on an unknown class Illuminate\\Http\\Request.#'
